body,
input,
button {
    font-family: "Gotham SSM Medium", "Segoe UI", "Trebuchet MS", "Tahoma", sans-serif;
    margin: 2vmax;
}

button {
    background: rgb(0, 52, 255);
    background: radial-gradient(circle, rgba(0, 52, 255, 1) 0%, rgba(0, 172, 255, 1) 34%, rgba(0, 232, 255, 1) 77%);
    width: 10%;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s all;
    border-radius: 25%;
}

button:hover {
    transform: scale(1.3);
}

button a {
    background-color: chartreuse;
    overflow: hidden;
    border-radius: 25%;
    text-decoration: none;
}

#send_button {
    background: rgb(0, 52, 255);
    background: radial-gradient(circle, rgb(4, 0, 255) 0%, rgba(0, 232, 255, 1) 77%);
    width: 50%;
    border-radius: 25%;
    transition: cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s all;
}

#send_button:hover {
    transform: scale(1.3) rotate(30deg);
}

#send_button a {
    color: rgb(161, 91, 0);
    background-color: rgb(255, 217, 0);
    border-radius: 25%;
}

#videos {
    display: flex;
    flex-wrap: wrap;
}

.vid {
    max-width: 33%;
    background: rgb(195, 34, 34);
    background: linear-gradient(120deg, rgb(0, 195, 255) 0%, rgb(204, 45, 253) 100%);
    overflow: hidden;
    border-radius: 20%;
    transition: cubic-bezier(0.95, 0.05, 0.795, 0.035) 1s all;
    text-align: center;
}

.vid video {
    max-width: 100%;
}

.vid:hover {
    transform: scale(1.1);
}

#menu {
    display: inline-flex;
    border: 10px blue solid;
    margin: 20px;
    overflow: hidden;
}